{% load staticfiles %}
<html>
<head>

    <title>{% block title %}{% endblock %} | TeaBase</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/base-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />    
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>

	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

    {% block extracss %}{% endblock %}


</head>
<body>

<div class="pure-g-r" id="header">
    <div class="pure-u-1 centered">
        <ul>
            <li><a href="{% url home %}">Home</a></li>
            <li><a href="{% url teas %}">Teas</a></li>
            <li><a href="{% url farms %}">Farms</a></li>
        </ul>
        <p>A database of teas and farms. <strong>Teabase</strong></p>
        <form id="search" class="pure-form" action="{% url search %}">
        <input type="text" value="Search" name="search" id="id_search" />
        </form>
        <div class="hr"></div>
    </div>
</div>


<div class="pure-g-r">
    <div class="pure-u-1 centered">
        {% block content %}{% endblock %}
    </div>
</div>


	<script type="text/javascript">

		$(document).ready( function() {

            
			// clear input on focus
			var clearMePrevious = '';
			$('.clearMeFocus').each( function() {
				if ($(this).val() == '') {
				    var title = $(this).attr('title');
				    $(this).val(title);
				}
			});
			
			$('.clearMeFocus').focus(function()
			{
				if($(this).val()==$(this).attr('title'))
				{
					clearMePrevious = $(this).val();
					$(this).val('');
					$(this).css('color', '#333');
				}
			});
			
			// if field is empty afterward, add text again
			$('.clearMeFocus').blur(function()
			{
				if($(this).val()=='')
				{
					$(this).val(clearMePrevious);
					$(this).css('color', '#999');
				}
			});
					
		});
		
		
	</script>

</body>
</html>


